# Ignore node_modules directories
node_modules
**/node_modules

# Ignore Git-related files
.git
.gitignore

# Ignore logs
*.log

# Ignore temporary files
*.tmp
*.swp
.DS_Store

# Ignore Nx cache files
dist/
tmp/
nx-cache/

