{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 125,
  "trailingComma": "es5",
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(react-router-dom/(.*)$)|^(react-router-dom$)",
    "",
    "<THIRD_PARTY_MODULES>",
    "^@(?!/)(.*)$",
    "^types$",
    "",
    "^@/api(.*)$",
    "^@/assets/(.*)$",
    "^@/components/(.*)$",
    "^@/components/ui/(.*)$",
    "^@/config/(.*)$",
    "^@/env(.*)$",
    "^@/hooks/(.*)$",
    "^@/layouts/(.*)$",
    "^@/lib/(.*)$",
    "^@/routes/(.*)$",
    "^@/server/(.*)$",
    "^@/store/(.*)$",
    "^@/styles/(.*)$",
    "^@/types/(.*)$",
    "^@/utils/(.*)$",
    "^@(/.*)$",
    "",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderBuiltinModulesToTop": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderMergeDuplicateImports": true,
  "importOrderCombineTypeAndValueImports": true,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
